*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/keystore/
/apps/androidApp/release/
apps/iosApp/Podfile.lock
apps/iosApp/Pods/*
apps/iosApp/iosApp.xcworkspace/*
apps/iosApp/iosApp.xcodeproj/*
!apps/iosApp/iosApp.xcodeproj/project.pbxproj
common/umbrella-ios/umbrella_ios.podspec